/*For e.g. the item element from css to be displayed correctly
needs the .css being replaced by e.g. Navbar.module.css*/

.header {
    grid-area: h;
    background: #288B92;
    padding: 10px;
    color: gold !important;
/*    border-style: none;
    text-decoration: none !important;*/
}

a {
    text-decoration: none !important;
}

span {
    color: gold !important;
    border-style: none;
    list-style-type: none;
    text-decoration: none !important;
}

span:hover {
    color: #ffffff !important;
    border-style: none;
    list-style-type: none;
    text-align: right;
    text-decoration: none !important;
}

