/*For e.g. the item element from css to be displayed correctly
needs the .css being replaced by e.g. Navbar.module.css
This css is called css module === object
so we have to import "classes" from ... Navbar.jsx*/

/* .Navbar_nav__vs2BU {} has to be searched inside the object "classes" */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Abhaya+Libre");
@import url("https://fonts.googleapis.com/css?family=Lato");

.nav {
    grid-area: n;
    background: #8A8A5C;
    padding: 10px;
}

.item {
    color: #ffffff;
    padding: 10px;
}
/*
let a = {
    key: value
    e.g.
    'nav': 'Navbar_nav__vs2BU',
    'item': 'Navbar_item__HIUpc'
}*/

/* ------------------------------------------------------------------- */
/* Import Section
---------------------------------------------------------------------- */


/* ==========================================================================
   Navbar Styles
   ========================================================================== */
strong {
    color: #fff;
}
.navbar.navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
}
.navbar-brand {
    font-family: 'Abhaya Libre', serif;
    font-size: 32px;
    color: #474B59 !important;
}
a.navbar-brand:hover {
    color: #00C4CF !important;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li.active>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.tr-dropdown-menu li a:hover {
    color: #00C4CF;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    padding: 15px 10px;
    line-height: 25px;
}
.navbar-default .navbar-nav li a{
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
    color: #858686;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-right: 2px;
}
.navbar-default .navbar-nav li a:hover{
    color: #0fc19e !important;
}
.navbar-default .navbar-nav li i{
    padding: 15px 2px;
    color: #858686;
    font-size: 14px;
    line-height: 25px;
}

/* .nav.navbar-dark {
    margin-top: 10%;
} */

@media(max-width:768px) {
    .navbar-default ul li {
        display: inline-block !important;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 10px 10px;
        line-height: 4px;
    }

    .navbar-right {
        padding-top: 0;
        margin-right: 0;
    }

    .navbar-default .navbar-nav li i {
        padding-top: 4px;
        padding-left: 20px;
        padding-right: 0px !important;
        line-height: 4px;
    }
}

