.item {
    color: whitesmoke;
    padding: 10px;
    font-size: 1.5rem;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

body {
    background-image: linear-gradient(to right, #403b4a, #6a525e, #916c69, #aa8e75, #b3b58d);
}