/* css grid is divided into 12 fractions, columns or row */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Abhaya+Libre");
@import url("https://fonts.googleapis.com/css?family=Lato");

/* .app-wrapper {
    background: #ffe2ad;
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-areas: "h h""n n""c c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
} */

.app-wrapper-content {
    grid-area: c;
    background: #ffe2ad;
    padding: 10px;
}

.row {
    margin: 20px;
}
